<template>
  <div>
    <div id="wrapper">
      <div class="wrapper-inner">
        <a id="fake" href='#'></a>
        <div class="headerContent">
          <!-- top -->
          <div id="top" class="stuck_position"><div class="container">
            <div class="row"><div class="moduletable search-block pull-right "><div class="module_container">
              <i class="fl-chapps-search70 search"></i>
              <div class="mod-search">
                <form action="/" method="post" class="navbar-form">
                  <label for="searchword" class="element-invisible">Искать...</label> <input id="searchword" name="searchword" maxlength="200"  class="inputbox mod-search_searchword" type="text" size="0" value="Введите текст для поиска..."  onblur="if (this.value=='') this.value='Введите текст для поиска...';" onfocus="if (this.value=='Введите текст для поиска...') this.value='';" /> <input type="hidden" name="task" value="search" />
                  <input type="hidden" name="option" value="com_search" />
                  <input type="hidden" name="Itemid" value="101" />
                </form>
              </div>
            </div></div><div class="moduletable pull-right "><div class="module_container">
              <div class="mod-menu mod-menu__social">
                <ul class="nav menu social">
                  <li class="item-148"><a class="fa fa-facebook" href="https://www.facebook.com/iqlawgroup/" title="Facebook" ></a>
                  </li></ul>
              </div></div></div></div>
          </div></div>
          <div id="header" class="stuck_position">
            <div class="container">
              <div class="row">
                <div id="logo" class="col-sm-12">
                  <a href="http://mayorovcompany.com.ua/">
                    <span class="site-logo"><span class="item_title_char0 item_title_char_odd item_title_char_first_half item_title_char_first">А</span><span class="item_title_char1 item_title_char_even item_title_char_first_half">д</span><span class="item_title_char2 item_title_char_odd item_title_char_first_half">в</span><span class="item_title_char3 item_title_char_even item_title_char_first_half">о</span><span class="item_title_char4 item_title_char_odd item_title_char_first_half">к</span><span class="item_title_char5 item_title_char_even item_title_char_first_half">а</span><span class="item_title_char6 item_title_char_odd item_title_char_first_half">т</span><span class="item_title_char7 item_title_char_even item_title_char_first_half">с</span><span class="item_title_char8 item_title_char_odd item_title_char_first_half">к</span><span class="item_title_char9 item_title_char_even item_title_char_first_half">а</span><span class="item_title_char10 item_title_char_odd item_title_char_first_half">я</span><span class="item_title_char11 item_title_char_even item_title_char_first_half"> </span><span class="item_title_char12 item_title_char_odd item_title_char_first_half">к</span><span class="item_title_char13 item_title_char_even item_title_char_first_half">о</span><span class="item_title_char14 item_title_char_odd item_title_char_first_half">м</span><span class="item_title_char15 item_title_char_even item_title_char_first_half">п</span><span class="item_title_char16 item_title_char_odd item_title_char_first_half">а</span><span class="item_title_char17 item_title_char_even item_title_char_second_half">н</span><span class="item_title_char18 item_title_char_odd item_title_char_second_half">и</span><span class="item_title_char19 item_title_char_even item_title_char_second_half">я</span><span class="item_title_char20 item_title_char_odd item_title_char_second_half"> </span><span class="item_title_char21 item_title_char_even item_title_char_second_half">"</span><span class="item_title_char22 item_title_char_odd item_title_char_second_half">M</span><span class="item_title_char23 item_title_char_even item_title_char_second_half">K</span><span class="item_title_char24 item_title_char_odd item_title_char_second_half"> </span><span class="item_title_char25 item_title_char_even item_title_char_second_half">P</span><span class="item_title_char26 item_title_char_odd item_title_char_second_half">a</span><span class="item_title_char27 item_title_char_even item_title_char_second_half">r</span><span class="item_title_char28 item_title_char_odd item_title_char_second_half">t</span><span class="item_title_char29 item_title_char_even item_title_char_second_half">n</span><span class="item_title_char30 item_title_char_odd item_title_char_second_half">e</span><span class="item_title_char31 item_title_char_even item_title_char_second_half">r</span><span class="item_title_char32 item_title_char_odd item_title_char_second_half">s</span><span class="item_title_char33 item_title_char_even item_title_char_second_half item_title_char_last">"</span></span>
                  </a>
                </div>
                <nav class="moduletable home_menu  col-sm-12"><div class="module_container">
                  <div class="icemegamenu">
                    <ul id="icemegamenu">
                      <li id="iceMenu_101" class="iceMenuLiLevel_1 current active fullwidth">
                        <a href="http://mayorovcompany.com.ua/" class="icemega_active iceMenuTitle ">
                          <span class="icemega_title icemega_nosubtitle">Главная</span>
                        </a>
                      </li>
                      <li id="iceMenu_702" class="iceMenuLiLevel_1 mzr-drop parent ">
                        <a class=" iceMenuTitle ">
                          <span class="icemega_title icemega_nosubtitle">Доска успеха</span>
                        </a>
                        <ul class="icesubMenu icemodules sub_level_1" style="width:280px">
                          <li>
                            <div style="float:left;width:280px" class="iceCols">
                              <ul>
                                <li id="iceMenu_703" class="iceMenuLiLevel_2 ">
                                  <a href="/doska-uspekha/nasha-praktika.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Наша практика</span>
                                  </a>
                                </li>
                                <li id="iceMenu_710" class="iceMenuLiLevel_2 ">
                                  <a href="/doska-uspekha/vyigrannye-dela.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Выигранные дела</span>
                                  </a>
                                </li>
                                <li id="iceMenu_900" class="iceMenuLiLevel_2 ">
                                  <a href="/doska-uspekha/my-v-smi.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Мы в СМИ</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li id="iceMenu_136" class="iceMenuLiLevel_1 mzr-drop parent ">
                        <a href="/nasha-komanda.html" class=" iceMenuTitle ">
                          <span class="icemega_title icemega_nosubtitle">Наша команда</span>
                        </a>
                        <ul class="icesubMenu icemodules sub_level_1" style="width:280px">
                          <li>
                            <div style="float:left;width:280px" class="iceCols">
                              <ul>
                                <li id="iceMenu_676" class="iceMenuLiLevel_2 ">
                                  <a href="/nasha-komanda/majorov-vasilij-aleksandrovich.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Майоров Василий Александрович</span>
                                  </a>
                                </li>
                                <li id="iceMenu_692" class="iceMenuLiLevel_2 ">
                                  <a href="/nasha-komanda/korotya-roman-aleksandrovich.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Коротя Роман Александрович</span>
                                  </a>
                                </li>
                                <li id="iceMenu_699" class="iceMenuLiLevel_2 ">
                                  <a href="/nasha-komanda/tkachenko-anna-andreevna.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Ткаченко Анна Андреевна</span>
                                  </a>
                                </li>
                                <li id="iceMenu_726" class="iceMenuLiLevel_2 ">
                                  <a href="/nasha-komanda/korotya-anna-rostislavovna.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Коротя Анна Ростиславовна</span>
                                  </a>
                                </li>
                                <li id="iceMenu_733" class="iceMenuLiLevel_2 ">
                                  <a href="/nasha-komanda/nersesyan-armen-sabirovich.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Нерсесян Армен Сабирович</span>
                                  </a>
                                </li>
                                <li id="iceMenu_701" class="iceMenuLiLevel_2 ">
                                  <a href="/nasha-komanda/petrash-svetlana-anatolevna.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Петраш Светлана Анатольевна</span>
                                  </a>
                                </li>
                                <li id="iceMenu_904" class="iceMenuLiLevel_2 ">
                                  <a href="/nasha-komanda/gejvakh-aleksandr-vasilevich.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Гейвах Александр Васильевич</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li id="iceMenu_626" class="iceMenuLiLevel_1 mzr-drop parent ">
                        <a href="/uslugi.html" class=" iceMenuTitle ">
                          <span class="icemega_title icemega_nosubtitle">Услуги</span>
                        </a>
                        <ul class="icesubMenu icemodules sub_level_1" style="width:700px">
                          <li>
                            <div style="float:left;width:50%" class="iceCols">
                              <ul>
                                <li id="iceMenu_665" class="iceMenuLiLevel_2 ">
                                  <a href="/uslugi/oformlenie-razreshitelnoj-dokumentatsii.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Оформление разрешительной документации</span>
                                  </a>
                                </li>
                                <li id="iceMenu_734" class="iceMenuLiLevel_2 ">
                                  <a href="/uslugi/registratsiya-torgovykh-marok.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Регистрация торговых марок</span>
                                  </a>
                                </li>
                                <li id="iceMenu_889" class="iceMenuLiLevel_2 ">
                                  <a href="/uslugi/oformlenie-litsenzij.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Услуги по оформлению лицензий</span>
                                  </a>
                                </li>
                                <li id="iceMenu_664" class="iceMenuLiLevel_2 ">
                                  <a href="/uslugi/uslugi-po-registratsii.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Услуги по регистрации бизнеса</span>
                                  </a>
                                </li>
                                <li id="iceMenu_735" class="iceMenuLiLevel_2 ">
                                  <a href="/uslugi/oformlenie-fors-mazhora.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Услуги по оформлению сертификата о форс-мажорных обстоятельствах</span>
                                  </a>
                                </li>
                                <li id="iceMenu_888" class="iceMenuLiLevel_2 ">
                                  <a href="/uslugi/razreshenie-na-reklamu.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Услуги по оформл. разрешения на рекламу</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li id="iceMenu_713" class="iceMenuLiLevel_1 mzr-drop parent ">
                        <a href="/obraztsy-dokumentov.html" class=" iceMenuTitle ">
                          <span class="icemega_title icemega_nosubtitle">Образцы документов</span>
                        </a>
                        <ul class="icesubMenu icemodules sub_level_1" style="width:280px">
                          <li>
                            <div style="float:left;width:280px" class="iceCols">
                              <ul>
                                <li id="iceMenu_714" class="iceMenuLiLevel_2 ">
                                  <a href="/obraztsy-dokumentov/iskovye-zayavleniya.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Исковые заявления</span>
                                  </a>
                                </li>
                                <li id="iceMenu_715" class="iceMenuLiLevel_2 ">
                                  <a href="/obraztsy-dokumentov/zayavleniya.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Заявления</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div style="float:left;width:280px" class="iceCols">
                              <ul>
                                <li id="iceMenu_716" class="iceMenuLiLevel_2 ">
                                  <a href="/obraztsy-dokumentov/zhaloby.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Жалобы</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div style="float:left;width:280px" class="iceCols">
                              <ul>
                                <li id="iceMenu_798" class="iceMenuLiLevel_2 ">
                                  <a href="/obraztsy-dokumentov/standarty-i-klassifikatory.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Стандарты и классификаторы</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li id="iceMenu_717" class="iceMenuLiLevel_1 mzr-drop parent ">
                        <a class=" iceMenuTitle ">
                          <span class="icemega_title icemega_nosubtitle">Публикации</span>
                        </a>
                        <ul class="icesubMenu icemodules sub_level_1" style="width:280px">
                          <li>
                            <div style="float:left;width:280px" class="iceCols">
                              <ul>
                                <li id="iceMenu_285" class="iceMenuLiLevel_2 ">
                                  <a href="/publikatsii/blog.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Видеоблог</span>
                                  </a>
                                </li>
                                <li id="iceMenu_719" class="iceMenuLiLevel_2 ">
                                  <a href="/publikatsii/stati.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Статьи</span>
                                  </a>
                                </li>
                                <li id="iceMenu_722" class="iceMenuLiLevel_2 ">
                                  <a href="/publikatsii/nauchnye-vyvody.html" class=" iceMenuTitle ">
                                    <span class="icemega_title icemega_nosubtitle">Правовые выводы</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li id="iceMenu_876" class="iceMenuLiLevel_1 ">
                        <a href="/spetsializatsiya.html" class=" iceMenuTitle ">
                          <span class="icemega_title icemega_nosubtitle">Специализация</span>
                        </a>
                      </li>
                      <li id="iceMenu_745" class="iceMenuLiLevel_1 ">
                        <a href="/kontakty.html" class=" iceMenuTitle ">
                          <span class="icemega_title icemega_nosubtitle">Контакты</span>
                        </a>
                      </li>
                    </ul>
                  </div></div></nav>
              </div>
            </div>
          </div>
        </div>
        <!-- showcase -->
        <div id="showcase" class="stuck_position"><div class="container">
          <div class="row"><div class="moduletable center  col-sm-12"><div class="module_container"><header class='page_header'><div class="moduleTitle ">С нами</div></header><div class="mod-article-single mod-article-single__center" id="module_243">
            <div class="item__module" id="item_158">
              <!-- Item Title -->
              <h2 class="item-title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Вы</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">всегда</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">на</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half">шаг</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">впереди!</span></h2>
              <!-- Intro Text -->
              <div class="item_introtext">
                <p>Стратегии наших адвокатов помогут вам решить самые сложные юридические вопросы</p></div>
            </div>
            <div class="mod-newsflash-adv_custom-link">
              <a href="/nasha-komanda">Наша команда</a> </div>
          </div></div></div></div>
        </div></div>
        <!-- feature -->
        <div id="feature" class="stuck_position"><div class="container">
          <div class="row"><div class="moduletable center services  col-sm-12"><div class="module_container"><div class="mod-newsflash-adv mod-newsflash-adv__center services cols-3" id="module_242">
            <div class="row">
              <article class="col-sm-4 item item_num0 item__module  " id="item_155">
                <div class="item_content">
                  <i class="mercury-icon-briefcase"></i>
                  <!-- Item title -->
                  <h3 class="item_title item_title__center services"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Корпоративное</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">право</span></h3>
                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Адвокаты компании помогут решить все проблемы связанные с деятельностью бизнеса</p></div>
                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div> </article>
              <article class="col-sm-4 item item_num1 item__module  " id="item_156">
                <div class="item_content">
                  <i class="fl-puppets-chat-bubble "></i>
                  <!-- Item title -->
                  <h3 class="item_title item_title__center services"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Уголовное</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">право</span></h3>
                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Адвокаты компании защитят вас во всех уголовных делах, в которых вы участвуете в каком-либо статусе на любой стадии процесса.</p></div>
                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div> </article>
              <article class="col-sm-4 item item_num2 item__module  lastItem" id="item_157">
                <div class="item_content">
                  <i class="mercury-icon-lib"></i>
                  <!-- Item title -->
                  <h3 class="item_title item_title__center services"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Имущественное</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">право</span></h3>
                  <!-- Introtext -->
                  <div class="item_introtext">
                    <p>Адвокаты компании защитят ваши имущественные права и обезопасят ваше имущество от любых рейдерских атак.</p></div>
                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div> </article>
            </div>
            <div class="clearfix"></div>
          </div></div></div></div>
        </div></div>
        <!-- maintop -->
        <div id="maintop" class="stuck_position"><div class="moduletable parallax1"><div class="module_container"><div class="parallax parallax__parallax1"

                                                                                                                       data-url="/images/parallax/parallax1.jpg"
                                                                                                                       data-speed="0.5"
                                                                                                                       data-direction="normal"
                                                                                                                       data-mobile="true"
                                                                                                                       data-blur="false"
        >
          <div class="row-container">
            <div class="container">
              <div class="row">
                <p></p> </div>
            </div>
          </div>
        </div>
        </div></div></div>
        <!-- Main Content row -->
        <div id="content">
          <div class="container">
            <div class="row">
              <div class="content-inner">
                <!-- Left sidebar -->
                <div id="component" class="col-sm-12">
                  <main role="main">
                    <div id="system-message-container">
                    </div>
                    <section class="page-category page-category__home">
                    </section>
                  </main>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- mainbottom-2 -->
        <div id="mainbottom-2" class="stuck_position"><div class="container">
          <div class="row"><div class="moduletable center uslugi  col-sm-12"><div class="module_container"><header class='page_header'><h2 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Наши</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">услуги</span></h2></header><div class="mod-newsflash-adv mod-newsflash-adv__center uslugi cols-4" id="module_273">
            <div class="row">
              <article class="col-sm-3 item item_num0 item__module  " id="item_179">
                <div class="item_content">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none">
                    <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/services/dogovornye-otnosheniya.jpg" alt=""><noscript><img src="/images/services/dogovornye-otnosheniya.jpg" alt=""></noscript>
                  </figure>
                  <!-- Item title -->
                  <h6 class="item_title item_title__center uslugi"><a href="/uslugi/dogovornye-otnosheniya.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Договорные</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">отношения</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">(медиация)</span></a></h6>
                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div> </article>
              <article class="col-sm-3 item item_num1 item__module  " id="item_190">
                <div class="item_content">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none">
                    <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/services/libra.png" alt=""><noscript><img src="/images/services/libra.png" alt=""></noscript>
                  </figure>
                  <!-- Item title -->
                  <h6 class="item_title item_title__center uslugi"><a href="/uslugi/oformlenie-litsenzij.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Услуги</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">по</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">оформлению</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">лицензий</span></a></h6>
                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div> </article>
              <article class="col-sm-3 item item_num2 item__module  " id="item_178">
                <div class="item_content">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none">
                    <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/services/zashchita-ot-dolgov.jpg" alt=""><noscript><img src="/images/services/zashchita-ot-dolgov.jpg" alt=""></noscript>
                  </figure>
                  <!-- Item title -->
                  <h6 class="item_title item_title__center uslugi"><a href="/uslugi/zashchita-ot-dolgov.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Защита</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">от</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">долгов</span></a></h6>
                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div> </article>
              <article class="col-sm-3 item item_num3 item__module  lastItem" id="item_172">
                <div class="item_content">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none">
                    <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/services/zashchita-prava-sobstvennosti.jpg" alt=""><noscript><img src="/images/services/zashchita-prava-sobstvennosti.jpg" alt=""></noscript>
                  </figure>
                  <!-- Item title -->
                  <h6 class="item_title item_title__center uslugi"><a href="/uslugi/zashchita-prava-sobstvennosti.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Защита</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">права</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">собственности</span> <span class="item_title_part_3 item_title_part_even item_title_part_first_half">и</span> <span class="item_title_part_4 item_title_part_odd item_title_part_first_half">данных</span> <span class="item_title_part_5 item_title_part_even item_title_part_first_half">в</span> <span class="item_title_part_6 item_title_part_odd item_title_part_second_half">реестрах</span> <span class="item_title_part_7 item_title_part_even item_title_part_second_half">недвижимости</span> <span class="item_title_part_8 item_title_part_odd item_title_part_second_half">и</span> <span class="item_title_part_9 item_title_part_even item_title_part_second_half">юридических</span> <span class="item_title_part_10 item_title_part_odd item_title_part_second_half item_title_part_last">лиц</span></a></h6>
                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div> </article>
            </div>
            <div class="clearfix"></div>
            <div class="mod-newsflash-adv_custom-link">
              <a class="btn btn-info" href="/uslugi.html">Все услуги</a> </div>
          </div></div></div></div>
        </div></div>
        <!-- bottom -->
        <div id="bottom" class="stuck_position"><div class="container">
          <div class="row"><div class="moduletable   col-sm-12"><div class="module_container"><header class='page_header'><h2 class="moduleTitle center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Последние</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">новости</span></h2></header>
            <div class="mod-newsflash-adv blog mod-newsflash-adv__ cols-4" id="module_230">
              <div class="row">
                <article class="col-sm-3 item item_num0 item__module  " id="item_686">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none">
                    <a href="/publikatsii/blog/kogda-vygodno-bankrotstvo-fizicheskogo-litsa-cheloveka.html">
                      <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/doska-uspekha/otmenili-postanovlenie-ob-otkrytii-ispolnitelnogo-proizvodstva.jpg" alt=""><noscript><img src="/images/doska-uspekha/otmenili-postanovlenie-ob-otkrytii-ispolnitelnogo-proizvodstva.jpg" alt=""></noscript>
                    </a>
                  </figure>
                  <div class="item_content">
                    <!-- Item title -->
                    <h6 class="item_title item_title__"><a href="/publikatsii/blog/kogda-vygodno-bankrotstvo-fizicheskogo-litsa-cheloveka.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Когда</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">выгодно</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">банкротство</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half">физического</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">лица</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half item_title_part_last">(человека)?</span></a></h6>
                    <!-- info TOP -->
                    <div class="item_info">
                      <dl class="item_info_dl">
                        <dt class="article-info-term"></dt>
                        <dd>
                          <time datetime="2021-06-25 09:38" class="item_published">
                            июнь 25, 2021</time>
                        </dd>
                      </dl>
                    </div>
                    <!-- Read More link -->
                  </div>
                  <div class="clearfix"></div> </article>
                <article class="col-sm-3 item item_num1 item__module  " id="item_685">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none">
                    <a href="/publikatsii/blog/varianty-zakrytiya-ipotechnogo-kredita-v-2021g-chto-vybrat.html">
                      <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/doska-uspekha/osvobodili-poruchitelya-ot-kreditnogo-dolga-alfa-bank.jpg" alt=""><noscript><img src="/images/doska-uspekha/osvobodili-poruchitelya-ot-kreditnogo-dolga-alfa-bank.jpg" alt=""></noscript>
                    </a>
                  </figure>
                  <div class="item_content">
                    <!-- Item title -->
                    <h6 class="item_title item_title__"><a href="/publikatsii/blog/varianty-zakrytiya-ipotechnogo-kredita-v-2021g-chto-vybrat.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Варианты</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">закрытия</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">ипотечного</span> <span class="item_title_part_3 item_title_part_even item_title_part_first_half">кредита</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">в</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half">2021г,</span> <span class="item_title_part_6 item_title_part_odd item_title_part_second_half">что</span> <span class="item_title_part_7 item_title_part_even item_title_part_second_half item_title_part_last">выбрать?</span></a></h6>
                    <!-- info TOP -->
                    <div class="item_info">
                      <dl class="item_info_dl">
                        <dt class="article-info-term"></dt>
                        <dd>
                          <time datetime="2021-06-25 09:33" class="item_published">
                            июнь 25, 2021</time>
                        </dd>
                      </dl>
                    </div>
                    <!-- Read More link -->
                  </div>
                  <div class="clearfix"></div> </article>
                <article class="col-sm-3 item item_num2 item__module  " id="item_684">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none">
                    <a href="/publikatsii/blog/restrukturizatsiya-po-valyutnym-kreditam-kak-zakryt-kredit.html">
                      <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/doska-uspekha/advokat-po-kreditnim-sporam-antikolektor-konsultatsiya.jpg" alt=""><noscript><img src="/images/doska-uspekha/advokat-po-kreditnim-sporam-antikolektor-konsultatsiya.jpg" alt=""></noscript>
                    </a>
                  </figure>
                  <div class="item_content">
                    <!-- Item title -->
                    <h6 class="item_title item_title__"><a href="/publikatsii/blog/restrukturizatsiya-po-valyutnym-kreditam-kak-zakryt-kredit.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Реструктуризация</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">по</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">валютным</span> <span class="item_title_part_3 item_title_part_even item_title_part_first_half">кредитам,</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">как</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half">закрыть</span> <span class="item_title_part_6 item_title_part_odd item_title_part_second_half item_title_part_last">кредит?</span></a></h6>
                    <!-- info TOP -->
                    <div class="item_info">
                      <dl class="item_info_dl">
                        <dt class="article-info-term"></dt>
                        <dd>
                          <time datetime="2021-06-24 18:30" class="item_published">
                            июнь 24, 2021</time>
                        </dd>
                      </dl>
                    </div>
                    <!-- Read More link -->
                  </div>
                  <div class="clearfix"></div> </article>
                <article class="col-sm-3 item item_num3 item__module   lastItem" id="item_680">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__none">
                    <a href="/publikatsii/blog/advokat-z-nerukhomosti-kijiv-perevirka-nerukhomosti-dokumentiv-ta-zhk.html">
                      <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/blog/advokat-u-sferi-nerukhomosti-kijiv-bucha-irpin.jpg" alt=""><noscript><img src="/images/blog/advokat-u-sferi-nerukhomosti-kijiv-bucha-irpin.jpg" alt=""></noscript>
                    </a>
                  </figure>
                  <div class="item_content">
                    <!-- Item title -->
                    <h6 class="item_title item_title__"><a href="/publikatsii/blog/advokat-z-nerukhomosti-kijiv-perevirka-nerukhomosti-dokumentiv-ta-zhk.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Адвокат</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">з</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">нерухомості</span> <span class="item_title_part_3 item_title_part_even item_title_part_first_half">Київ</span> <span class="item_title_part_4 item_title_part_odd item_title_part_first_half">-</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half">перевірка</span> <span class="item_title_part_6 item_title_part_odd item_title_part_second_half">нерухомості,</span> <span class="item_title_part_7 item_title_part_even item_title_part_second_half">документів</span> <span class="item_title_part_8 item_title_part_odd item_title_part_second_half">та</span> <span class="item_title_part_9 item_title_part_even item_title_part_second_half item_title_part_last">ЖК</span></a></h6>
                    <!-- info TOP -->
                    <div class="item_info">
                      <dl class="item_info_dl">
                        <dt class="article-info-term"></dt>
                        <dd>
                          <time datetime="2021-04-26 06:33" class="item_published">
                            апр 26, 2021</time>
                        </dd>
                      </dl>
                    </div>
                    <!-- Read More link -->
                  </div>
                  <div class="clearfix"></div> </article>
              </div>
              <div class="clearfix"></div>
            </div></div></div></div>
        </div></div>
      </div>
    </div>
    <div id="footer-wrapper">
      <div class="footer-wrapper-inner">
        <!-- footer -->
        <div id="footer" class="stuck_position"><div class="container">
          <div class="row"><div class="moduletable   col-sm-3"><div class="module_container"><header class='page_header'><h6 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Быстрые</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">ссылки</span></h6></header><div class="mod-menu">
            <ul class="menu footer_menu">
              <li class="item-727 active">
                <a href="/" >Главная</a>
              </li>
              <li class="item-728">
                <a href="/nasha-komanda.html" >Наша команда</a>
              </li>
              <li class="item-729">
                <a href="/uslugi.html" >Услуги</a>
              </li>
              <li class="item-730">
                <a href="/doska-uspekha/vyigrannye-dela.html" >Выигранные дела</a>
              </li>
              <li class="item-731">
                <a href="/obraztsy-dokumentov.html" >Образцы документов</a>
              </li>
            </ul>
          </div></div></div><div class="moduletable   col-sm-3"><div class="module_container"><header class='page_header'><h6 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Публикации</span></h6></header><div class="mod-newsflash-adv mod-newsflash-adv__ cols-1" id="module_227">
            <div class="row">
              <article class="col-sm-12 item item_num0 item__module  " id="item_689">
                <div class="item_content">
                  <!-- Intro Image -->
                  <figure class="item_img img-intro img-intro__left">
                    <a href="/doska-uspekha/vyigrannye-dela/vigrali-sud-u-kolektoriv-za-pozovnoji-davnosti-ta-povernuli-avto-priklad-rishennya-sudu-po-kolektoram.html">
                      <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/blog/Korotya3.jpeg" alt=""><noscript><img src="/images/blog/Korotya3.jpeg" alt=""></noscript>
                    </a>
                  </figure>
                  <!-- Item title -->
                  <h6 class="item_title item_title__"><a href="/doska-uspekha/vyigrannye-dela/vigrali-sud-u-kolektoriv-za-pozovnoji-davnosti-ta-povernuli-avto-priklad-rishennya-sudu-po-kolektoram.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Виграли</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">суд</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">у</span> <span class="item_title_part_3 item_title_part_even item_title_part_first_half">колекторів</span> <span class="item_title_part_4 item_title_part_odd item_title_part_first_half">за</span> <span class="item_title_part_5 item_title_part_even item_title_part_first_half">позовної</span> <span class="item_title_part_6 item_title_part_odd item_title_part_first_half">давності</span> <span class="item_title_part_7 item_title_part_even item_title_part_first_half">та</span> <span class="item_title_part_8 item_title_part_odd item_title_part_second_half">повернули</span> <span class="item_title_part_9 item_title_part_even item_title_part_second_half">авто</span> <span class="item_title_part_10 item_title_part_odd item_title_part_second_half">(приклад</span> <span class="item_title_part_11 item_title_part_even item_title_part_second_half">рішення</span> <span class="item_title_part_12 item_title_part_odd item_title_part_second_half">суду</span> <span class="item_title_part_13 item_title_part_even item_title_part_second_half">по</span> <span class="item_title_part_14 item_title_part_odd item_title_part_second_half item_title_part_last">колекторам)</span></a></h6>
                  <!-- info TOP -->
                  <div class="item_info">
                    <dl class="item_info_dl">
                      <dt class="article-info-term"></dt>
                      <dd>
                        <time datetime="2021-07-25 11:21" class="item_published">
                          25 июля 2021</time>
                      </dd>
                    </dl>
                  </div>
                  <!-- Read More link -->
                </div>
                <div class="clearfix"></div> </article>
            </div><div class="row"> <article class="col-sm-12 item item_num1 item__module  lastItem" id="item_688">
              <div class="item_content">
                <!-- Intro Image -->
                <figure class="item_img img-intro img-intro__left">
                  <a href="/spetsializatsiya/kollektory-el-en-grup-kak-borotsya-i-kak-dogovarivatsya.html">
                    <img class="jch-lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/images/doska-uspekha/otmenili-ispolnitelnuyu-nadpis-kreditnye-initsiativy.jpg" alt=""><noscript><img src="/images/doska-uspekha/otmenili-ispolnitelnuyu-nadpis-kreditnye-initsiativy.jpg" alt=""></noscript>
                  </a>
                </figure>
                <!-- Item title -->
                <h6 class="item_title item_title__"><a href="/spetsializatsiya/kollektory-el-en-grup-kak-borotsya-i-kak-dogovarivatsya.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Коллекторы</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">«ЕЛ.ЕН.</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">ГРУП»,</span> <span class="item_title_part_3 item_title_part_even item_title_part_first_half">как</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half">бороться</span> <span class="item_title_part_5 item_title_part_even item_title_part_second_half">и</span> <span class="item_title_part_6 item_title_part_odd item_title_part_second_half">как</span> <span class="item_title_part_7 item_title_part_even item_title_part_second_half item_title_part_last">договариваться</span></a></h6>
                <!-- info TOP -->
                <div class="item_info">
                  <dl class="item_info_dl">
                    <dt class="article-info-term"></dt>
                    <dd>
                      <time datetime="2021-06-29 15:33" class="item_published">
                        29 июня 2021</time>
                    </dd>
                  </dl>
                </div>
              <!-- Read More link -->
              </div>
              <div class="clearfix"></div> </article>
            </div>
            <div class="clearfix"></div>
          </div></div></div><div class="moduletable   col-sm-3"><div class="module_container"><header class='page_header'><h6 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Наши</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">телефоны</span></h6></header><div class="mod-menu">
            <ul class="menu info">
              <li class="item-743">
                <a class="fa fa-phone" href="tel:+380502662726" >+38 (050) 266-27-26 - Адвокат Роман Коротя</a>
              </li>
              <li class="item-744">
                <a class="fa fa-phone" href="tel:+380634615945" >+38 (063) 461-59-45 - Адвокат Анна Коротя</a>
              </li>
              <li class="item-604">
                <a class="fa fa-phone" href="tel:+380962432873" >+38 (096) 243-28-73 - Адвокат Василий Майоров</a>
              </li>
            </ul>
          </div></div></div><div class="moduletable   col-sm-3"><div class="module_container"><header class='page_header'><h6 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Наши</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">контакты</span></h6></header><div class="mod-menu">
            <ul class="menu info">
              <li class="item-740">
                <a class="fa fa-envelope-o" href="mailto:mk911ua@gmail.com" >mk911ua@gmail.com</a>
              </li>
              <li class="item-741">
                <a class="fa fa-envelope-o" href="tel: proforma@ua.fm" >proforma@ua.fm - Ткаченко А.А.</a>
              </li>
              <li class="item-738">
                <span class="fa fa-map-marker" >01001, Украина, Киев ул. Большая Житомирская, 15Б</span></li>
            </ul>
          </div></div></div></div>
        </div></div>
        <!-- Copyright -->
        <div id="copyright" role="contentinfo">
          <div class="container"> <div class="row">
            <div class="copyright col-sm-6">
              <span class="copy">&copy; </span><span class="year">2021 </span> <span class="siteName">Адвокатская компания "MK Partners".</span>
            </div>
            <div class="moduletable social  col-sm-6"><div class="module_container">
              <div class="mod-menu mod-menu__social">
                <ul class="nav menu social">
                  <li class="item-148"><a class="fa fa-facebook" href="https://www.facebook.com/iqlawgroup/" title="Facebook" ></a>
                  </li></ul>
              </div></div></div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div id="back-top">
      <a href="#"><span></span></a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Home',
  };
</script>
